In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("D:\TEL U\S2 TELU\SEM 2 TELU\MATLANJUT\CODE1\sugar_consumption_dataset.csv")

In [3]:
df

,Country,Year,Country_Code,Continent,Region,Population,GDP_Per_Capita,Per_Capita_Sugar_Consumption,Total_Sugar_Consumption,Sugar_From_Sugarcane,...,Obesity_Rate,Sugar_Imports,Sugar_Exports,Avg_Retail_Price_Per_Kg,Gov_Tax,Gov_Subsidies,Education_Campaign,Urbanization_Rate,Climate_Conditions,Sugarcane_Production_Yield
0,France,1972,FRA,Europe,Western Europe,2.617306e+08,8692.631696,12.827741,3.357413e+06,68.422963,...,34.094017,5.401670e+06,2.358929e+06,3.864020,0.0,0,0.0,34.503398,3,52.433972
1,Australia,2003,AUS,Oceania,Australia & New Zealand,1.737965e+08,6859.195960,21.362632,3.712750e+06,55.432564,...,16.040118,3.418790e+06,9.694348e+06,3.282101,0.0,0,0.0,31.783067,4,58.382055
2,Germany,1963,DEU,Europe,Western Europe,1.236366e+08,22075.950575,32.077485,3.965951e+06,86.466120,...,14.405741,8.987281e+06,5.451632e+06,1.097687,0.0,0,0.0,51.551345,1,32.184735
3,France,1965,FRA,Europe,Western Europe,2.989961e+08,3728.027392,47.648930,1.424685e+07,69.806707,...,38.499271,5.179004e+06,8.048500e+06,2.761297,0.0,0,0.0,80.386281,2,84.296019
4,Germany,2010,DEU,Europe,Western Europe,7.341531e+06,40420.973962,23.214343,1.704288e+05,63.772278,...,36.190977,6.463439e+06,7.062910e+06,4.219431,0.0,0,1.0,49.701153,3,66.110815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Japan,2013,JPN,Asia,East Asia,1.577296e+08,13292.772553,52.082820,8.215000e+06,68.735289,...,23.261105,6.789191e+06,1.760144e+06,0.546087,0.0,0,1.0,70.297948,5,50.874135
9996,Japan,1997,JPN,Asia,East Asia,8.194828e+07,15062.553443,59.947295,4.912577e+06,89.760649,...,38.510142,2.945742e+06,9.403225e+06,0.719054,0.0,1,1.0,82.951511,5,49.170137
9997,China,1968,CHN,Asia,East Asia,2.211798e+08,44077.744031,21.447386,4.743729e+06,60.228450,...,31.494902,6.562415e+06,6.828324e+06,3.786874,0.0,0,0.0,80.478768,5,56.414707
9998,France,2020,FRA,Europe,Western Europe,1.089609e+08,19327.592671,35.558519,3.874488e+06,89.151300,...,22.046038,2.736993e+06,1.877796e+06,4.711171,0.0,1,0.0,50.138593,4,44.818364
9999,China,1990,CHN,Asia,East Asia,2.118221e+07,28039.986398,67.470909,1.429183e+06,64.568766,...,21.302099,7.195694e+06,1.698358e+06,1.088151,0.0,0,0.0,39.748626,1,58.549719

In [5]:
df1 = pd.read_csv("D:/TEL U/S2 TELU/SEM 2 TELU/MATLANJUT/CODE1/td.csv")

In [6]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q